*,
*:before,
*:after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
}
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}
input,
select,
textarea {
  background-color: transparent;
  outline: none;
}
button {
  cursor: pointer;
  background-color: transparent;
  outline: none;
  border: 0;
}
body {
  min-height: 100vh;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
}
.images{
    display: grid;
    /* grid-template-columns: repeat(4,1fr); */
    /* grid-template-columns:repeat(auto-fit,value)  */
    /* minmax(200px,1fr) */
    /* grid-template-columns:repeat(auto-fill,value)  */
    grid-gap: 36px;
    grid-template-columns: repeat(auto-fill,minmax(200px,1fr));
    grid-template-columns: repeat(auto-fit,minmax(293px,1fr)); /*tuong tu dang responsive*/
}
/* @media screen and (max-width:1279px) {
    .images{
        grid-template-columns: repeat(3,1fr);
    }
}
@media screen and (max-width:1023px) {
    .images{
        grid-template-columns: repeat(2,1fr);
    }
}
@media screen and (max-width:479px) {
    .images{
        grid-template-columns: repeat(1,1fr);
    }
} */
.image-item{
    border-radius: 10px;
    height: 220px;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 4px 12px;
    /* bi cat mat bong - shadow */
}
.image-item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: inherit; /*ke thua cai ben ngoai*/
} 
@media screen and (max-width: 1023.98px) {
    /* cho nguoi dung touch images */
    .images{
        grid-template-columns: unset;
        grid-auto-flow: column;
        grid-auto-columns:80%;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        scroll-snap-stop: always;
        padding: 25px; /* them vao de hack shadow bi xem */
        scroll-padding: 25px;
        margin-left: -23px; 
        /* fix shadow ko bi cat; bu ti le */
    }
    
    .images {
    -ms-overflow-style: none;
    scrollbar-width: none;
    }
    .images::-webkit-scrollbar {
    display: none; /*an scroll bar*/
    }

    .image-item{
        scroll-snap-align: end ; /*start | end | center */
    }
}
